.legend {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  align-items: center;
}
.legend-container{
  width: 100%;
  display: flex;
  flex-flow: row;
  font-size: 12px;
  margin-left: 10%;
}

.booked-legend{
  background-color: hsl(350, 81%, 59%);
  width: 17px;
  margin-left: 5px;
  height: 17px;
}
.weekend-legend{
  background-color: lightgray;
  width: 17px;
  height: 17px;
}

.users-legend{
  background-color: rgb(119, 227, 83);
  width: 17px;
  height: 17px;
}
.available-legend {
  background-color: white;
  width: 17px;
  height: 17px;
}

.legend p {
  margin-left: 5px;
  margin-right: 20px;
}