.bg-transparent button {
  border-radius: 25px;
  background: lightgray;
}
body { 
            background-image: url(https://cdn.prod-carehubs.net/n1/802899ec472ea3d8/uploads/2016/09/a-pile-of-sea-salt-on-a-weathered-wooden-surface-original.jpg) ;
            background-position: center center;
            background-repeat:  no-repeat;
            background-attachment: fixed;
            background-size:  cover;
            background-color: #999;
      text-decoration: gray;
      text-align: center;

  
}
.home-container {
  margin-top: 50px;
  width: 80%;
}
.jumbotron {
  margin-left: 250px;
 background:rgba(0,0,0,0.3);
}
.jt-btn {
  background-color: #000000;
  border: 0;
}




/* 
body {
  background-color: #5CDB95;
} */

.App {
  text-align: center;
}


.testing {
  background-color: black;
  color: black;
}


.App-header {
  background-color: #05386b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
  margin: 0 auto;
  margin-top: 15px;
}


.Welcome {
  margin-right: 5%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Welcome p {
  margin: 0 auto;
}

.Welcome button {
  margin-left: 10px;
  border-radius: 10px;
}

.Welcome input {
  margin-left: 8px;
  margin-right: 7px;
  border: solid 1px lightgray;
  border-radius: 10px;
}

.about-text, .home-text {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  margin-top: 60px;

}

.post-container{
  background-color: rgba(236, 244, 224, 0.797);
  width: 85%;
  margin: 0 auto;
  text-align: left;
  margin-top: 60px;
  border: solid 1px;
  padding: 2% 2% 2% 2%;
}

.post-container h2 {
  margin: 0 0 2% 0;
}

.logo-container{
  overflow: hidden;
}