.grid-container1 {
  display: flex;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}

.grid-container1   div {
  border: solid 1px lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.buttons button {
  border-radius: 8px;
  background-color: white;
  margin: 5px 5px 5px 5px;
}
.booked {
  background-color: hsl(350, 81%, 59%);
}

.weekend {
  background-color: lightgray;
}

.selected {
  background-color: lightblue;
}
.weekday {
  background-color: #c4dce4;
}