.grid-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}

.grid-container div {
  border: solid 1px lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.booked {
  background-color: hsl(350, 81%, 59%);
}

.selected {
  background-color: lightblue;
}
.weekday {
  background-color: #c4dce4;
}