.grid-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}

.grid-container div {
  border: solid 1px darkgrey;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booked {
  background-color: #ce7080;
}