.dev-container {
  width: 100%;
}

.grid-container {
  flex-flow: row;
  width: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . . ";
  margin: 0 auto;
}

.grid-container img {
  border: solid 2px black;
  border-radius: 50%;
  margin-bottom: 20px;
}
.grid-container .skills {
  text-align: left;
  margin: 0 auto;
  margin-left: 30px;
}
.grid-container .skills p{
  margin: 0 auto;
}

.developer {
  padding: 0px 30px 0px 30px;
}

.skills {
  background-color: rgba(236, 244, 224, 0.797);
  padding: 10px 10px 10px 10px;
  border: solid 1px;
}

.skills h5 {
  text-align: center;
}
.skills h6 {
  text-align: center;
}