.booking-container {
  display: flex;
  flex-flow: column wrap;
  min-height: 1000px;
}

.calendar {
  max-width: 600px;
  width: 50%;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  border-radius: 10px;
  overflow: hidden;
  color: black;
  margin: 1vw;
}


.calendar-container {
  text-align: center;
}



.calendar div {
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.calendar-buttons {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

#prev {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.886);
  color: #151515;
  font-weight: bold;
}

#next{
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.886);
  color: #151515;
  font-weight: bold;
}


.buttons button {
  border-radius: 3px;
  background-color: white;
  margin: 5px 5px 5px 5px;
  font-size: 11px;
  width: 120px;
  height: 20px;
}
.booked {
  background-color: hsl(350, 81%, 59%);
  color: white;
}

.weekend {
  background-color: #EDF5E1;
}
.userBook {
  background-color: rgb(119, 227, 83);
  color: white;
}
.userBook:hover {
  background-color:hsla(0, 85%, 55%, 0.646);
}
.userBook:hover .showDate {
  display: none;
}

.unBookDate {
  display: none;
}

.userBook:hover .unBookDate{
  display: inline;
}

.calendar:hover {
  cursor: pointer;
}

.weekend:hover {
  cursor: not-allowed;
}

.selected {
  background-color: lightblue;
}

.notBooked {
  background-color: white;
}
.notBooked:hover {
  background-color:hsla(0, 0%, 91%, 0.783);
}
.weekday {
  background-color: #05386b;
  min-height: 50px;
  color: white;
}

.unbook-button {
  background-color: transparent;
  color: white;
  border: none;
}

@media (max-width:  600px) {
  .calendar{
    max-width: 100%;
    margin: 0 auto;
  }

  .calendar div {
    min-height: 30px;
    max-height: 80px;
  }

  .calendar-container h3 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
}