.grid-container1 {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

.grid-container1   div {
  border: solid 1px lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  border-radius: 10px;
  background-color: white;
  margin: 5px 5px 5px 5px;
  font-size: 11px;
}
.booked {
  background-color: hsl(350, 81%, 59%);
  color: white;
}

.weekend {
  background-color: #EDF5E1;
}
.userBook {
  background-color: rgb(119, 227, 83);
  color: white;
}

.selected {
  background-color: lightblue;
}

.notBooked {
  background-color: white;
}
.weekday {
  background-color: #05386b;
  min-height: 50px;
  color: white;
}

.unbook-button {
  background-color: transparent;
  color: white;
  border: none;
}

@media (max-width:  600px) {
  .grid-container1{
    max-width: 80%;
    margin: 0 auto;
  }

  .grid-container1 div {
    min-height: 30px;
    max-height: 80px;
  }

}