.post-container {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  margin-top: 60px;
  border: solid 1px black;
  padding: 2% 2% 2% 2%;
  background-color: hsla(0, 0%, 8%, 0.757);
  color: rgb(250, 232, 232);
  border-radius: 5px;
}

.post-container h2 {
  margin: 0 0 2% 0;
}

 .post-content{
  display: flex;
  flex-flow: row nowrap;
  max-height: 400px;
  overflow: auto;
}

.post-content p {
  padding: 0 10% 0 10%;
}


/*.post-content > img{
  grid-area: img;
  width: 350px;
}

.post-content > p{
  grid-area: par;
  column-span: all;
  max-width: 350px;
} */

@media (max-width: 800px) {
  .post-container{
    max-height: 200px;
    overflow: scroll;
  }
}